.article {
  margin-top: 30px;
  padding-bottom: 25px;
}

.article .banner {
  width: 100%;
  margin-bottom: 15px;
  height: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 1s;
}

.article-info {
  color: white;
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 30px;
}

.article .article-info .categoria {
  font-weight: lighter;
  font-size: 17px;
  opacity: 0.5;
  margin-bottom: 0;
}

.article .article-info .titolo {
  font-size: 21px;
}

@media (min-width: 1000px) {
  .article .banner {
    height: 100%;
    width: 100%;
    border-radius: 4px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 1s;
  }

  .article a {
    text-decoration: none;
  }

  .article .banner:hover {
    transform: scale(1.2);
    opacity: 0.7;
  }

  .article-box {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-bottom: 60px;
  }

  .article .article-box .article-container {
    width: 50%;
    overflow: hidden;
    position: relative;
    height: 400px;
    margin-top: 30px;
    margin-left: 30px;
  }

  .article-info {
    margin-top: 30px;
    margin-left: 0;
    padding-right: 30px;
    margin-top: 40px;
    width: 360px;
  }

  .article .article-info .titolo {
    font-size: 35px;
  }

  .article .article-info .categoria {
    margin-bottom: 20px;
  }

  .article .article-box-right {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-bottom: 60px;
    flex-direction: row-reverse;
  }

  .article .article-box-right .article-container {
    width: 50%;
    overflow: hidden;
    // position: relative;
    height: 400px;
    margin-top: 30px;
    margin-right: 70px;
  }

  .article .article-box-right .article-info {
    margin-left: 60px;
  }
}

@media (min-width: 1500px) {
    .article .article-box .article-container {
      height: 530px;
    }
}
