.banner-branded img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.branded-more {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.branded-info {
  color: white;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
}

.branded-info .categoria {
  font-weight: lighter;
  opacity: 0.5;
  font-size: 17px;
  margin-bottom: 0;
}

.branded-info .contenuto {
  font-size: 17px;
  font-weight: lighter;
  margin-bottom: 0;
  width: 200px;
}

.branded-info .titolo {
  margin-bottom: 30px;
}

.branded-info .regia {
  margin-bottom: 30px;
}

.branded-info .anno {
  margin-bottom: 30px;
}

.branded-info .cliente {
  margin-bottom: 30px;
}

.branded-info {
  border-bottom: 1px solid white;
}

.branded-extra-text {
  font-weight: lighter;
  opacity: 0.5;
  font-size: 18px;
  color: white;
  margin-bottom: 15px;
}

  .video {
    height: 200px;
    margin-bottom: 30px;
  }

  .video1 {
    height: 200px;
    margin-bottom: 30px;
  }

  .video2 {
    height: 200px;
    margin-bottom: 30px;
  }

@media (min-width: 1024px) {
    .video {
      height: 550px;
      width: 820px;
      margin-bottom: 30px;
    }

.branded-extra {
    display: flex;
    justify-content: space-between;
    // margin-bottom: 30px;
  }

  .branded-info .titolo {
    margin-bottom: 0px;
  }

  .branded-info .regia {
    margin-bottom: 0px;
  }

  .branded-info .anno {
    margin-bottom: 0px;
  }

  .branded-info .cliente {
    margin-bottom: 0px;
  }

  .banner-branded img {
    height: 400px;
  }

  .branded-extra-text {
    margin-bottom: 30px;
  }

  .video1 {
    height: 300px;
    width: 520px;
    margin-right: 30px
  }

  .video2 {
    height: 300px;
    width: 520px;
  }

  .branded-more {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .branded-info {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
    margin-top: 60px;
    padding-bottom: 60px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .branded-info .categoria {
    font-weight: lighter;
    opacity: 0.5;
    font-size: 20px;
  }

  .branded-info .contenuto {
    font-size: 20px;
  }

  .branded-info .regia {
    margin-bottom: 0px;
  }

  .branded-info .anno {
    margin-bottom: 0px;
  }

  .branded-info .cliente {
    margin-bottom: 0px;
  }
}


@media (min-width: 1030px) {

  .branded-extra {
    display: flex;
    justify-content: space-between;
    // margin-bottom: 30px;
  }

  .branded-info .titolo {
    margin-bottom: 0px;
  }

  .branded-info .regia {
    margin-bottom: 0px;
  }

  .branded-info .anno {
    margin-bottom: 0px;
  }

  .branded-info .cliente {
    margin-bottom: 0px;
  }

  .banner-branded img {
    height: 400px;
  }

  .branded-extra-text {
    margin-bottom: 30px;
  }

  .video {
    height: 600px;
    width: 1000px;
    margin-bottom: 30px;
  }

  .video1 {
    height: 300px;
    width: 520px;
    margin-right: 30px
  }

  .video2 {
    height: 300px;
    width: 520px;
  }

  .branded-more {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .branded-info {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
    margin-top: 60px;
    padding-bottom: 60px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .branded-info .categoria {
    font-weight: lighter;
    opacity: 0.5;
    font-size: 20px;
  }

  .branded-info .contenuto {
    font-size: 20px;
  }

  .branded-info .regia {
    margin-bottom: 0px;
  }

  .branded-info .anno {
    margin-bottom: 0px;
  }

  .branded-info .cliente {
    margin-bottom: 0px;
  }

}
