.branded {
  padding-bottom: 25px;
}

.branded .banner {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 250px;
  margin: auto;
  margin-bottom: 15px;
  box-shadow: 0 16px 40px rgba(0,0,0,0.12);
}

.branded .info2 h3 {
  color: white;
}

.branded .info2 .status {
  font-weight: lighter;
  font-size: 17px;
  opacity: 0.5;
  color: white;
  margin-bottom: 0;
}

.branded .info2 .cliente {
  font-size: 21px;
}

.branded .info2 {
  padding-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

@media (min-width: 800px) {
  .branded {
    width: 100%;
  }

  .branded .info2 {
    margin-bottom: 60px;
    margin-top: 20px;
  }

  .branded-container {
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  .branded .banner {
    height: 100%;
    width: 100%;
    margin: 0px;
    margin-bottom: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
  }

  .branded .banner:hover  {
    transform: scale(1.2);
    opacity: 0.7;
  }

  .branded a {
    text-decoration: none;
  }

  .branded .info2 .cliente {
  font-size: 25px;
  }
}
