.map-box {
  // background-image: image-url("map.png");
  background-size: cover;
  background-position: center;
  box-shadow: 0 16px 40px rgba(0,0,0,0.12);
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100%;
  display: table;
}


.parent {
  display: table-cell;
  vertical-align: middle;
}

.contact-box {
  color: white;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
}

.contact-box2 {
  color: white;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
}

.contact-box h3 {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 21px;
  font-weight: bold;
  padding-bottom: 20px;
  margin-bottom: 0;
}

.contact-box2 h3 {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 21px;
  font-weight: bold;
  padding-bottom: 20px;
  margin-bottom: 0;
}

.contact-box .contact-address {
  padding-bottom: 20px;
}

.contact-box2 .contact-address {
  padding-bottom: 20px;
}

.contact-box2 a {
  color: white;
  opacity: 0.5;
  font-size: 25px;
}

.contact-box2 a:hover {
  color: white;
  opacity: 1;
  text-decoration: none;
}

.contact-box .contact-address p {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 17px;
  font-weight: normal;
  margin-bottom: 0;
}

.contact-box2 .contact-address p {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 17px;
  font-weight: normal;
  margin-bottom: 0;
}

.contact-box2 .contact-info p {
  font-size: 12px;
  padding-top: 30px;
}

// social

.fa-facebook-f:before {
  color: white;
  font-size: 25px;
  opacity: 0.5;
}

a:hover .fa-facebook-f:before {
  color: white;
  opacity: 1;
}

a:hover .fa-instagram:before  {
  color: white;
  opacity: 1;
}

a:hover .fa-linkedin-in:before {
  color: white;
  opacity: 1;
}

.fa-instagram:before {
  color: white;
  font-size: 25px;
  margin: 0 30px;
  opacity: 0.5;
}

.fa-linkedin-in:before {
  color: white;
  font-size: 25px;
  opacity: 0.5;
}

@media (min-width: 375px) {
  .contact-box h3 {
    padding-bottom: 30px;
  }

  .contact-box2 h3 {
    padding-bottom: 30px;
  }

  .contact-box .contact-address {
    padding-bottom: 30px;
  }

  .contact-box2 .contact-address {
    padding-bottom: 30px;
  }

  .contact-box .contact-address p {
    font-size: 20px;
  }

  .contact-box2 .contact-address p {
    font-size: 20px;
  }
}

@media (min-width: 400px) {
  .contact-box2 {
    margin-top: 60px;
  }

  .contact-box {
    margin-top: 60px;
  }

  .contact-box .contact-address p {
    font-size: 20px;
  }

  .contact-box2 .contact-address p {
    font-size: 20px;
  }

  .fa-instagram:before {
    font-size: 25px;
  }

  .fa-linkedin-in:before {
    font-size: 25px;
  }

  .fa-facebook-f:before {
    font-size: 25px;
  }

  .contact-box2 .contact-info p {
    font-size: 15px;
  }

  .contact-box h3 {
    font-size: 25px;
  }

  .contact-box2 h3 {
    font-size: 25px;
  }
}

@media (min-width: 768px) {
  .contact-box {
    margin-top: 60px;
  }

  .contact-box2 {
    margin-top: 60px;
  }

  .contact-box h3 {
    font-size: 25px;
  }

  .contact-box .contact-address p {
    font-size: 20px;
  }

  .contact-box2 h3 {
    font-size: 25px;
  }

  .contact-box2 .contact-address p {
    font-size: 20px;
  }

  .contact-info p {
    font-size: 15px;
  }
}



