.privacy-page {
  background: white;
  margin-right: 15px;
  margin-left: 15px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 15px;
  border-radius: 2px;
}

// .privacy-page h3 {
//   padding-top: 30px;
// }

