<nav class="navbar-trn navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><img src="<%= image_path("logo_low.png")%>" alt=""></a>
  <button class="navbar-dark navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= link_to "CHI SIAMO", about_path, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          LAVORI
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/projects">FILM E TV</a>
          <a class="dropdown-item" href="/brandeds">BRANDED</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/articles">NOTES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/reports">NEWS</a>
      </li>
      <li class="nav-item">
        <%= link_to "CONTATTI", contact_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>

<script>

const hamburger = document.querySelector('button');
  hamburger.addEventListener("click", (event) => {
    const navbar = document.querySelector('.navbar-trn');
    const text = document.querySelectorAll('.nav-item');
    navbar.classList.toggle("my-style");
    if (window.getComputedStyle(navbar).getPropertyValue("background-color") === "rgba(0, 0, 0, 0)" ) {
        text.forEach((element) => {
            element.classList.add("my-font");
          });
    } else {
        text.forEach((element) => {
            element.classList.remove("my-font");
          });
    };
  });

</script>

<div class="map-box" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= image_path("map.png")%>')">

  <div class="parent">
    <div class="contact-box">
      <h3>ROMA</h3>
      <div class="contact-address">
        <p>Via Pompeo Magno, 1</p>
        <p>00192 - Roma</p>
        <p>info@caprientertainment.it</p>
      </div>
      <div class="contact-social">
          <a href="https://m.facebook.com/caprientertainementsrl/"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/caprientertainment/"><i class="fab fa-instagram"></i></a>
          <a href="https://www.linkedin.com/company/caprientertainment/"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>

    <div class="contact-box2">
      <h3>WE WANT YOU!</h3>
      <div class="contact-address">
        <p>Sei un giovane regista, sceneggiatore o filmmaker?</p>
        <p>Noi crediamo in te!</p>
      </div>
      <a href="mailto:info@caprientertainment.it?">Scrivici!</a>
      <div class="contact-info">
        <p>L’autore verrà ricontattato solo se interessati, non commenteremo un esito negativo.</p>
      </div>
    </div>
  </div>

</div>

