<div class="superbox">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><img src="<%= image_path("logo2-min.png")%>" alt=""></a>
    <button class="navbar-dark navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" class="first" href="/about"> CHI SIAMO <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            LAVORI
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/projects">FILM E TV</a>
            <a class="dropdown-item" href="/brandeds">BRANDED</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/articles">NOTES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/reports">NEWS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">CONTATTI</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="privacy-page">
    <h3>PRIVACY POLICY</h3>
    <br>
    <h4>Riferimenti normativi</h4>
    <br>
    <ul>
      <li>Direttiva 2002/58/CE - relativa al "trattamento dei dati personali e alla tutela della vita privata nel settore delle comunicazioni elettroniche"</li>
      <li>Regolamento (UE) 2016/679 del parlamento europeo e del consiglio del 27 aprile 2016 relativo alla protezione delle persone fisiche con riguardo al trattamento dei dati personali, nonché alla libera circolazione di tali dati e che abroga la direttiva 95/46/ce (Regolamento Generale sulla Protezione dei Dati).</li>
    </ul>
    <br>
    <h4>Il titolare del trattamento</h4>
    <br>
    <p>A seguito della consultazione di questo sito possono essere trattati dati relativi a persone identificate o identificabili. Il “Titolare” del loro trattamento è Sesaab S.p.a. con sede in viale Papa Giovanni XXIII n. 118 – 24121 Bergamo.</p>
    <br>
    <h4>Luogo di trattamento dei dati e tempi di conservazione</h4>
    <br>
    <p>I trattamenti connessi ai servizi web di questo sito hanno luogo presso la predetta sede del Titolare e sono curati solo da personale da questo espressamente autorizzato, oppure da eventuali fornitori terzi incaricati di occasionali operazioni di manutenzione, nominati Responsabili del trattamento ai sensi dell’articolo 28 del GDPR. I dati raccolti saranno conservati – per ciascuna tipologia di dati trattati – esclusivamente per il tempo necessario ad adempiere alle specifiche finalità indicate nelle specifiche informative di sintesi visualizzate nelle pagine del sito e predisposte per particolari servizi.</p>
    <br>
    <h4>Tipi di dati trattati</h4>
    <br>
    <h5><em>Dati di navigazione</em></h5>
    <p>I sistemi informatici e le procedure software preposte al funzionamento di questo sito web acquisiscono, nel corso del loro normale esercizio, alcuni dati personali la cui trasmissione è implicita nell’uso dei protocolli di comunicazione di Internet.</p>
    <p>Si tratta di informazioni che non sono raccolte per essere associate a interessati identificati, ma che per loro stessa natura potrebbero, attraverso elaborazioni ed associazioni con dati detenuti da terzi, permettere di identificare gli utenti.</p>
    <p>In questa categoria di dati rientrano gli indirizzi IP o i nomi a dominio dei computer utilizzati dagli utenti che si connettono al sito, gli indirizzi in notazione URI (Uniform Resource Identifier) delle risorse richieste, l’orario della richiesta, il metodo utilizzato nel sottoporre la richiesta al server, la dimensione del file ottenuto in risposta, il codice numerico indicante lo stato della risposta data dal server (buon fine, errore, ecc.) ed altri parametri relativi al sistema operativo e all’ambiente informatico dell’utente.</p>
    <p>Questi dati vengono utilizzati al solo fine di ricavare informazioni statistiche anonime sull’uso del sito e per controllarne il corretto funzionamento e vengono cancellati immediatamente dopo l’elaborazione. I dati potrebbero essere utilizzati per l’accertamento di responsabilità in caso di ipotetici reati informatici ai danni del sito: salva questa eventualità, allo stato i dati sui contatti web non persistono per più di sette giorni.</p>
    <br>
    <h5><em>Dati forniti volontariamente dall’utente</em></h5>
    <p>L’invio facoltativo, esplicito e volontario di dati personali da parte dell’utente nei form di registrazione presenti su questo sito comporta la successiva acquisizione dei dati forniti dal mittente, necessari per l’erogazione del servizio richiesto. Specifiche informative di sintesi verranno progressivamente riportate o visualizzate nelle pagine del sito predisposte per particolari servizi a richiesta.</p>
    <br>
    <h5><em>Dati anonimi o aggregati</em></h5>
    <p>L’anonimizzazione si configura come un trattamento che ha lo scopo di impedire l’identificazione dell’interessato. I dati resi anonimi non rientrano nell’ambito di applicazione della legislazione in materia di protezione dei dati. Raccogliamo, elaboriamo e condividiamo dati aggregati come dati statistici o demografici per diverse finalità. I dati aggregati possono derivare ​​da dati personali forniti dall’utente ma non sono considerati dati personali in quanto, come specificato, non consentono né direttamente né indirettamente l’identificazione dell’interessato. Tali dati saranno utilizzati anche al fine di migliorare la qualità dei nostri prodotti/servizi esistenti, sviluppare nuove funzionalità, nonché per ulteriori scopi di ricerca generali (ad esempio al fine di verificare la frequenza con cui si utilizza un determinato prodotto servizio; per calcolare la percentuale di utenti che accedono a una specifica funzione del sito Web etc.). Poiché tali dati non consentono l’individuazione di una persona fisica e non sono considerati personali, saranno condivisi con ulteriori terzi, controllati, controllate o partners.</p>
    <br>
    <h5><em>Dati di minori</em></h5>
    <p>I Dati personali forniti e relativi a minori sono trattati esclusivamente quando ciò si renda necessario per garantire il corretto utilizzo del prodotto/servizio richiesto a seguito della stipulazione di un contratto di cui l’interessato è parte. Tali dati non saranno in alcun modo utilizzati per ulteriori scopi se non necessari a garantire il godimento di tutti i vantaggi del prodotto/servizio.</p>
    <br>
    <h4>Cookies</h4>
    <br>
    <p>I cookies sono piccoli file di testo contenenti una certa quantità di informazioni scambiate tra un sito internet ed il terminale dell’utente (solitamente il browser). Essi sono principalmente utilizzati con lo scopo di far funzionare i siti web e farli operare in modo più efficiente, nonché al fine di fornire informazioni ai proprietari del sito stesso. I cookies possono essere sia di sessione che persistenti. I cookies di sessione rimangono memorizzati nel terminale per un breve periodo di tempo e sono eliminati non appena l'utente chiude il browser. Il loro utilizzo è strettamente limitato alla trasmissione di identificativi di sessione (costituiti da numeri casuali generati dal server) necessari per consentire l'esplorazione sicura ed efficiente del sito.I cookies persistenti invece rimangono archiviati nel terminale dell’utente fino ad una scadenza prestabilita. Questi, non essendo cancellati direttamente alla chiusura del browser, consentono di ricordare le scelte operate dall’utente sul proprio sito nonché di raccogliere informazioni circa le pagine del sito visitate dall’utente, la frequenza con la quale il sito viene visitato e per identificare il tracciato di navigazione degli utenti, al fine di migliorare l’esperienza sul presente sito. I cookies, di sessione o persistenti, possono essere infine di Prima parte o di Terza parte a seconda che il soggetto che installa i cookies sul terminale dell'utente sia lo stesso gestore del sito che l'utente sta visitando (si parlerà allora di cookies di Prima parte) oppure un soggetto diverso (si parlerà allora di cookies di Terza parte).</p>
    <br>
    <h5><em>Cookie utilizzati dal presente sito</em></h5>
    <p>l presente sito si avvale dell’utilizzo di cookies sia di Prima parte che di Terza parte in quanto si avvale delle funzionalità dei servizi Google Analytics, offerti da Google Inc.</p>
    <p>Google Analytics utilizza i "cookies" per raccogliere e analizzare le informazioni in merito alle modalità di utilizzo dei siti web visitati dall’utente. Per avere maggiori informazioni sui cookies di Google Analytics e sul loro utilizzo da parte di Google Inc. è possibile consultare:</p>
    <p>l'informativa sull’utilizzo dei cookies da parte di Google disponibile all’indirizzo:</p>
    <p><a href="http://www.google.com/intl/it/policies/technologies/cookies/">http://www.google.com/intl/it/policies/technologies/cookies/</a></p>
    <p>e <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookies-usage">https://developers.google.com/analytics/devguides/collection/analyticsjs/cookies-usage</a></p>
    <p>l'informativa per la privacy policy di Google Analytics all’indirizzo:</p>
    <p><a href="http://www.google.com/intl/en/analytics/privacyoverview.html
  ">http://www.google.com/intl/en/analytics/privacyoverview.html</a></p>
    <p><strong>Nella tabella sottostante vengono riportati, nel dettaglio, i cookies attualmente presenti nel sito web.</strong></p>
    <br>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nome cookie</th>
            <th scope="col">Scadenza predefinita</th>
            <th scope="col">Tipo</th>
            <th scope="col">Descrizione cookie</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>_ga</strong></td>
            <td>La scadenza di default è impostata dopo 2 anni</td>
            <td><strong>Tecnico analitico di terza parte</strong></td>
            <td>Questo cookies è associato a Google Universal Analytics ed è utilizzato per offrire un aggiornamento ai servizi di Google Analytics. Viene utilizzato per distinguere gli utenti assegnando a ciascuno di loro un numero generato in modo casuale come identificatore client. Viene utilizzato per calcolare il numero di visitatori della pagina, delle sessioni e dei dati al fine di produrre report di analisi</td>
          </tr>
          <tr>
            <td><strong>_gat</strong></td>
            <td>La scadenza di default è ogni 10 minuti</td>
            <td><strong>Tecnico analitico di terza parte</strong></td>
            <td>Questo cookies è associato a Google Analytics, è utilizzato per velocizzare le richieste di accesso</td>
          </tr>
        </tbody>
      </table>
    </div>

    <p>Oltre ai cookie presenti all’interno della tabella, il presente sito si avvale anche di c.d. cookies di sessione (ad esempio il cookie csrftoken, che riguarda la sessione di lavoro), ovvero quei cookies che non vengono memorizzati in modo persistente sul computer dell'utente e svaniscono con la chiusura del browser. Il loro utilizzo è strettamente limitato.</p>
    <br>
    <h5><em>Gestione dei cookie</em></h5>
    <p>Normalmente i browser permettono il controllo della maggior parte dei cookie tramite le impostazioni del browser stesso. Si ricorda tuttavia che la disabilitazione totale o parziale dei cookies c.d. tecnici può compromettere l’utilizzo delle funzionalità del sito. Ad ogni modo qualora l’utente non desideri ricevere alcun tipo di cookies sul proprio elaboratore, né da questo sito, né da altri, può elevare il livello di protezione privacy modificando le impostazioni di sicurezza del proprio browser:</p>
    <p>Chrome: <a href="https://support.google.com/chrome/answer/95647?hl=it">https://support.google.com/chrome/answer/95647?hl=it</a></p>
    <p>Firefox: <a href="https://support.mozilla.org/it/kb/Gestione%20dei%20cookie">https://support.mozilla.org/it/kb/Gestione%20dei%20cookie</a></p>
    <p>Internet Explorer: <a href="http://windows.microsoft.com/it-it/windows7/how-to-manage-cookies-in-internet-explorer-9">http://windows.microsoft.com/it-it/windows7/how-to-manage-cookies-in-internet-explorer-9</a></p>
    <p>Opera: <a href="http://help.opera.com/Windows/10.00/it/cookies.html">http://help.opera.com/Windows/10.00/it/cookies.html</a></p>
    <p>Safari: <a href="http://support.apple.com/kb/HT1677?viewlocale=it_IT">http://support.apple.com/kb/HT1677?viewlocale=it_IT</a></p>
    <br>
    <h4>Link ad altri siti Web</h4>
    <br>
    <p>Questo sito potrebbe contenere link o riferimenti per l’accesso ad altri siti, quali ad esempio i social network Facebook, Instagram, Google+, Twitter e Pinterest. Cliccando sugli appositi link potrai ad esempio condividere i nostri contenuti.
  Ti informiamo il Titolare del trattamento non controlla i cookie o le altre tecnologie di monitoraggio di tali siti web ai quali la presente Policy non si applica.</p>
    <br>
    <h4>Facoltatività del conferimento dei dati</h4>
    <br>
    <p>A parte quanto specificato per i dati di navigazione, l’utente è libero di fornire i dati propri personali. Tuttavia il loro mancato conferimento può comportare l’impossibilità di ottenere quanto richiesto.</p>
    <br>
    <h4>Modalità del trattamento</h4>
    <br>
    <p>I dati personali sono trattati, anche mediante l’ausilio di strumenti automatizzati. Specifiche misure di sicurezza sono osservate per prevenire la perdita dei dati, usi illeciti o non corretti ed accessi non autorizzati. Il Titolare ha adottato tutte le misure minime di sicurezza previste dalla legge ed ispirandosi ai principali standard internazionali, ha inoltre adottato misure di sicurezza ulteriori per ridurre al minimo i rischi afferenti la riservatezza, la disponibilità e l’integrità dei dati personali raccolti e trattati.</p>
    <br>
    <h4>Condivisione, comunicazione e diffusione dei dati</h4>
    <br>
    <p>I dati raccolti potranno essere trasferiti o comunicati ad altre società per attività strettamente connesse e strumentali all’operatività del servizio, come la gestione del sistema informatico. I dati personali forniti dagli utenti che inoltrano richieste di invio di materiale informativo (brochure, materiale informativo, ecc.) sono utilizzati al solo fine di eseguire il servizio o la prestazione richiesta e sono comunicati a terzi nel solo caso in cui ciò sia a tal fine necessario (società che forniscono servizi di imbustamento, etichettatura, spedizione). Al di fuori di questi casi, i dati personali non saranno comunicati salvo previsione contrattuale o di legge, ovvero salvo specifico consenso richiesto all’interessato.</p>
    <p>In questo senso, i dati personali potrebbero essere trasmessi a terze parti, ma solo ed esclusivamente nel caso in cui:</p>
    <ol type="a">
      <li>vi sia consenso esplicito a condividere i dati con terze parti;</li>
      <li>vi sia la necessità di condividere con terzi le informazioni al fine di prestare il servizio richiesto;</li>
      <li>ciò sia necessario per adempiere a richieste dell'Autorità Giudiziaria o di Pubblica Sicurezza.</li>
    </ol>
    <p>Nessun dato derivante dal servizio web viene diffuso.</p>
    <br>
    <h4>Diritti degli interessati</h4>
    <br>
    <p>La normativa a protezione dei dati personali prevede espressamente alcuni diritti in capo ai soggetti cui dati si riferiscono (c.d. interessato). In particolare, In relazione al trattamento dei predetti dati, in base agli articoli 15 e ss. del Regolamento, Le ricordiamo il diritto di ottenere l'accesso ai dati personali che la riguardano; la rettifica dei dati (correzione di dati inesatti od integrazione), la cancellazione dei dati trattati in violazione di legge o qualora sussista uno dei motivi specificati dall’articolo 17 del GDPR, nonché il diritto alla portabilità dei dati stessi. Lei ha, altresì, il diritto di proporre reclamo a un'autorità di controllo qualora ritenesse che i diritti qui indicati non le siano stati riconosciuti.</p>
    <br>
    <h4>Modifiche alle presenti politiche sulla privacy</h4>
    <br>
    <p>Il Titolare verifica periodicamente la propria politica relativa alla privacy e alla sicurezza e, se del caso, la rivede in relazione alle modifiche normative, organizzative o dettate dall’evoluzione tecnologica. In caso di modifica delle politiche, la nuova versione sarà pubblicata in questa pagina del sito.</p>
    <br>
    <h4>Domande, reclami, suggerimenti e esercizio dei diritti</h4>
    <br>
    <p>Chiunque fosse interessato a maggiori informazioni, a contribuire con propri suggerimenti o avanzare reclami o contestazioni in merito alle politiche privacy, sul modo in cui la nostra Società tratta i dati personali, nonché per far valere i propri diritti previsti dalla normativa in materia di protezione dei dati personali, può rivolgersi al Titolare del trattamento scrivendo a CAPRI ENTERTAINMENT SRL con sede in Via Margutta 54 - 00187 Roma oppure inviando una mail al seguente indirizzo: privacy@caprientertainment.it</p>
  </div>

  <div class="footer-ce">
    <div class="social">
      <p>
        <a href="https://www.facebook.com/caprientertainementsrl/"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/caprientertainment/"><i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/company/caprientertainment/"><i class="fab fa-linkedin-in"></i></a>
      </p>
    </div>
    <div class="info">
      <p>© 2019 - Capri Entertainment S.R.L. Via Margutta 54, 00187 Roma</p>
      <p>P.IVA/C.F. 15003851001</p>
      <p class="ppolicy"><a href="https://www.iubenda.com/privacy-policy/71908416" target="_blank">Privacy Policy</a></p>
    </div>
  </div>

</div>

