<div class="project">
    <div class="banner">
        <h3>REGIA</h3>
        <h3>Alex Infascelli​</h3>
        <h3>DISTRIBUZIONE</h3>
        <h3>Vision Distribution</h3>
    </div>
    <div class="info2">
      <h3>In lavorazione</h3>
      <h3>Il Docufilm su Francesco Totti</h3>
    </div>
</div>
